:root{
    --text-align: center;
    --color1-color: #333;
    --color2-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
   background-color: var(--color2-color);
   padding:10px;
}

nav a {
   color: white;
   display: block;
   padding: 20px;
}

main {
    max-width: fit-content;
}

h1 {
    color: var(--color2-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 100px;
    left: 100px;
}

footer {
    margin-top: auto;
    border-top: var(--color1-color);
    text-align: var(--text-align);
}

/* create a class selector here */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}