:root{
    --text-align: center;
    --color1-color: #333;
    --color2-color: darkblue;
}

nav {
   background-color: var(--color2-color);
   padding:10px;
}

nav a {
   color: white;
   display: block;
   padding: 20px;
}

main {
    max-width: fit-content;
}

h1 {
    color: var(--color2-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: var(--color1-color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: auto;
    border-top: var(--color1-color);
    text-align: var(--text-align);
}